In [18]:
name = '   prajakta   '
print(name)

   prajakta

In [6]:
type(name)

str

In [19]:
name = 'parul'
print(name)

parul

In [15]:
print(name.title())

Parul

In [20]:
fullname='kirti kumar'
print(fullname.title())

Kirti Kumar

In [21]:
fullname='PRAJAKTA SONAWANE'
print(fullname)

PRAJAKTA SONAWANE

In [22]:
print(fullname.upper())

PRAJAKTA SONAWANE

In [23]:
print(fullname.lower())

prajakta sonawane

In [ ]:
# f string
#custom words---{}

In [25]:
firstname='prajakta'
lastname='sonawane'
sentence=f"{firstname} {lastname}"
print(sentence)

prajakta sonawane

In [26]:
sentence=f"{firstname.title()} {lastname.title()}"
print(sentence)

Prajakta Sonawane

In [27]:
sentence=f"{firstname.upper()} {lastname.upper()}"
print(sentence)

PRAJAKTA SONAWANE

In [28]:
sentence=f"{firstname.upper()} {lastname.lower()}"
print(sentence)

PRAJAKTA sonawane

In [29]:
print('fav_sub', 'C++', 'C', 'Java', 'Python', 'Oracle')

fav_sub C++ C Java Python Oracle

In [30]:
print('fav_sub','C++','C','Java','Python','Oracle')

fav_sub C++ C Java Python Oracle

In [31]:
print('fav_sub\n', 'C++\n', 'C\n', 'Java\n','Python\n', 'Oracle\n')

fav_sub
 C++
 C
 Java
 Python
 Oracle

In [32]:
print('fav_sub\n', 'C++\n', 'oop','C\n', 'Javascript','Java\n','Python\n', 'Oracle\n')

fav_sub
 C++
 oop C
 Javascript Java
 Python
 Oracle

In [37]:
print('fav_sub\n', 'C','oops','C++\n', 'Java', 'Javascript\n','Python\n', 'Oracle\n')

fav_sub
 C oops C++
 Java Javascript
 Python
 Oracle

In [38]:
print('fav_sub\n', 'C','C++','oops\n\t', 'Java\n\t', 'Javascript\n','Python\n', 'Oracle\n')

fav_sub
 C C++ oops
	 Java
	 Javascript
 Python
 Oracle

In [53]:
print('fav_sub\n', ' C \n\t','C++\n\t\t','oops\n\t\t\t', 'Java\n\t', 'Javascript\n','Python\n', 'Oracle')

fav_sub
  C
	 C++
		 oops
			 Java
	 Javascript
 Python
 Oracle

In [54]:
name='raj'
print(name)

raj

In [55]:
name='         prajakta'
print(name)

         prajakta

In [56]:
name.lstrip() #lstrip()-----for removing left side space
              #rstrip()-----for removing righgt side space
              #strip()------for removing both left and right side space

'prajakta'

In [60]:
name='     prajakta      '
name.lstrip()

'prajakta      '

In [61]:
name.rstrip()

'     prajakta'

In [62]:
name.strip()

'prajakta'

In [ ]:
# Introduction to list data type
# Defination: A list is a collection of items in a particular order
# Classification: It is classified as mutable datatype
# List datatype-----[]

In [63]:
students = ['ram','chitra','neel','khushal','harsha','krishna','prajakta']
print(students)

['ram', 'chitra', 'neel', 'khushal', 'harsha', 'krishna', 'prajakta']

In [64]:
type(students)

list

In [65]:
students = ('ram','chitra','neel','khushal','harsha','krishna','prajakta')
print(students)

('ram', 'chitra', 'neel', 'khushal', 'harsha', 'krishna', 'prajakta')

In [66]:
type(students)

tuple

In [ ]:
# Indexing :
# What is Indexing?---
# always start with 0
# 'ram','chitra','neel','khushal','harsha','krishna','prajakta'
#   0      1       2        3         4       5          6

In [67]:
print(students[2])

neel

In [68]:
print(students[2].title())

Neel

In [69]:
student=['prajakta','rinku','mansi','sadhana','shweta','ashwini','ruchita','roshni','nilesh','nidhi']
print(student)

['prajakta', 'rinku', 'mansi', 'sadhana', 'shweta', 'ashwini', 'ruchita', 'roshni', 'nilesh', 'nidhi']

In [71]:
print(student[1],student[3],student[6],student[9])

rinku sadhana ruchita nidhi

In [ ]:
# How to add a new element in list?
# How to modify element in the list?
# How to delete the element in list?

In [ ]:
# add an element

In [72]:
students=['ram','chitra','neel','khushal','harshal','krishna','prajakta']
# Requirement----add raju to the list
students.append('raju')
print(students)

['ram', 'chitra', 'neel', 'khushal', 'harshal', 'krishna', 'prajakta', 'raju']

In [73]:
students.append('nisha') # append is add the element in the last position
print(students)

['ram', 'chitra', 'neel', 'khushal', 'harshal', 'krishna', 'prajakta', 'raju', 'nisha']

In [74]:
students.insert(2,'rohit') #rohit added in the list at positionn 2

In [75]:
print(students)

['ram', 'chitra', 'rohit', 'neel', 'khushal', 'harshal', 'krishna', 'prajakta', 'raju', 'nisha']

In [76]:
print(students[6])

krishna

In [ ]:
# Modify an element

In [78]:
print(students)

['ram', 'chitra', 'rohit', 'neel', 'khushal', 'harshal', 'krishna', 'prajakta', 'raju', 'nisha']

In [79]:
students[1]='sachin'
print(students)

['ram', 'sachin', 'rohit', 'neel', 'khushal', 'harshal', 'krishna', 'prajakta', 'raju', 'nisha']

In [ ]:
# Delete an element

In [80]:
del students[4]
print(students)

['ram', 'sachin', 'rohit', 'neel', 'harshal', 'krishna', 'prajakta', 'raju', 'nisha']

In [89]:
student=['prajakta','rinku','mansi','sadhana','shweta','ashwini','ruchita','roshni','nilesh','nidhi']
print(student)

['prajakta', 'rinku', 'mansi', 'sadhana', 'shweta', 'ashwini', 'ruchita', 'roshni', 'nilesh', 'nidhi']

In [90]:
student.append('sonal')
print(student)

['prajakta', 'rinku', 'mansi', 'sadhana', 'shweta', 'ashwini', 'ruchita', 'roshni', 'nilesh', 'nidhi', 'sonal']

In [91]:
student.insert(2,'harsha')
print(student)

['prajakta', 'rinku', 'harsha', 'mansi', 'sadhana', 'shweta', 'ashwini', 'ruchita', 'roshni', 'nilesh', 'nidhi', 'sonal']

In [92]:
student[2]='harshal'
print(student)

['prajakta', 'rinku', 'harshal', 'mansi', 'sadhana', 'shweta', 'ashwini', 'ruchita', 'roshni', 'nilesh', 'nidhi', 'sonal']

In [93]:
del student[3]
print(student)

['prajakta', 'rinku', 'harshal', 'sadhana', 'shweta', 'ashwini', 'ruchita', 'roshni', 'nilesh', 'nidhi', 'sonal']